# Ignore everything
*

# But not these files...
!amethyst
!Brewfile
!gitconfig*
!install.sh
!com.googlecode.iterm2.plist
!LICENSE.md
!README.md
!vimrc
!zshrc
!zsh_plugins
!tmux.conf
!*.snippets
!Makevars

# ...even if they are in subdirectories
!*/

# zsh-syntax-highlighting will be cloned by install.sh
zsh-syntax-highlighting/
