# Ignore everything
*

# But not these files...
!amethyst
!Brewfile
!gitconfig
!install.sh
!com.googlecode.iterm2.plist
!LICENSE.md
!README.md
!vimrc
!*.snippets
!zsh_plugins.zsh
!zshrc.zsh
!Makevars

# ...even if they are in subdirectories
!*/
